name: Sync to Hugging Face Space

on:
  push:
    branches: ["main"]

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Push to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_SPACE: ${{ secrets.HF_SPACE }}
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git remote add hf https://harshalanka:${HF_TOKEN}@huggingface.co/spaces/${HF_SPACE}
          git push hf main --force
